window {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12pt;
  color: #cdd6f4;
  background-color: #3B4252;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border-style: solid;
  border-width: 3px;
  background-color: #2E3440;
  border-color: #D8DEE9;
  margin: 5px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #2E3440;
  border-color: #D8DEE9;
  transform: scale(1.05);
}

button:focus {
  background-color: #88C0D0;
  border-color: #D8DEE9;
}
